.screen {
  display: flex;
  /* align-items: center; */
  flex-direction: column;
  padding: 20px;
  gap: 20px;
  position: relative;
}

.screen a {
  position: absolute;
  text-decoration: none;
  font-size: 12px;
  color: #0a5eb0;
  border-bottom: 2px solid #0a5eb0;
}

.screen a:last-of-type {
  right: 10px;
}

.screen h3 {
  background-color: #0a5eb0;
  padding: 5px;
  width: fit-content;
  margin-inline: auto;
  font-size: 14px;
}

.screen .inputs > div {
  display: flex;
  flex-direction: column;
}

.screen .inputs > div:first-of-type {
  margin-bottom: 20px;
}

.screen .inputs div label {
  background-color: #0a5eb0;
  padding: 5px;
  width: fit-content;
}

.screen .inputs div textarea {
  min-width: 100%;
  max-width: 100%;
  margin-top: 20px;
  min-height: 50px;
  padding: 10px;
  font-size: 18px;
}

.screen .inputs .method-settings {
  flex-direction: row;
  margin-top: 20px;
  gap: 30px;
}

.screen .inputs .method-settings label {
  font-size: 10px;
}
